* {
  margin: 0;
  padding: 0;
}
input {
  border: 2px solid grey;
  border-radius: 4px;
  padding: 4px;
  margin-bottom: 30px;
}

h5 {
  text-decoration: underline;
}
input,
select {
  margin-left: 15px;
}
label {
  margin-left: 15px;
}

.submitt {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px;
}
.reset {
  background-color: white;
  border: solid 1px red;
  color: red;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px;
}
form {
  margin-top: 80px;
  border: solid 1px gray;
  padding: 20px;
  margin-left: 20px;
}
.name {
  width: 25%;
}
.govttId,
.add {
  width: 15%;
}
.details {
  font-size: 2rem;
  position: relative;
  top: 55px;
  left: 18px;
  text-decoration: underline;
}
.home {
  font-size: 1.5rem;
  position: relative;
  top: 25px;
  left: 18px;
  text-decoration: underline;
}
.tb {
  border: solid 2px gray;
  margin-top: 50px;
}
